<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <article>
            <time>published: 05.04.2025, 08:30am</time>
            <h2><a href="">33 12</a></h2>
            <p>Bueno,llegue a la oficina que me cerro las puertas, despues almost 2 years ago . Que nervios!</p>
        </article>

        <article>
            <time>published: 05.04.2025, 3:48pm</time>
            <h2><a href="">Bitacora de 6 2 6</a></h2>
            <p>Son increibles, la comunidad,las personas , las interacciones .Estoy convencida que mi camino es seguir aprendiendo.</p>
        </article>
    </body>
</html>